
<div class="row">
    <p class="col-12 h2">
        @ViewData["Title"]
    </p>

    <p class="col-12 h4">
        @ViewData["Message"]
    </p>

    <p class="col-12 h4">
        @ViewBag.Name
    </p>

    <p class="col-12 h4">
        @ViewBag.Email
    </p>
</div>