
@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lab_8_2_Net_4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/4552defb60.js" crossorigin="anonymous"></script>
</head>
<body data-bs-theme="dark">
    <header class="container py-3">
        <nav class="navbar navbar-expand-lg bg-body-emphasis">
            <div class="container-fluid">
                <img class="navbar-brand" height="50" src="~/assets/orangebrand.jpg" alt="brand" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navBar">
                    <ul class="navbar-nav me-auto mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>

                    <div class="d-flex">
                        @if(!(Context.Session.GetString("Account") != null ? true : false))
                        {
                            <a class="nav-link me-3 btn btn-outline-warning p-2" asp-controller="Account" asp-action="SignUp">Sign Up</a>
                            <a class="nav-link me-3  btn btn-orange p-2 text-body" asp-controller="Account" asp-action="Login">Login</a>
                        }
                        @if((Context.Session.GetString("Account") != null ? true : false))
                        {
                            <a class="btn btn-primary position-relative" asp-controller="Home" asp-action="CartDetails">
                                <i class="fa-solid fa-cart-shopping"></i>
                               
                            </a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <hr />
    <div class="container py-3">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
