@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "London";
}
<div class="row">
    <div class="col-12">
        <p class="h2 fw-bold">London</p>
    </div>
    <div class="col-12 w-75 container">
        <p class="h5">
            London là thủ đô và thành phố lớn nhất của Vương quốc Anh và nằm ở đông nam nước Anh. Với dân số khoảng 9 triệu người, London là một trung tâm tài chính, kinh doanh, văn hóa và giáo dục quan trọng của thế giới. Thành phố này có lịch sử hơn 2.000 năm và được xây dựng trên bờ sông Thames, với nhiều công trình kiến trúc độc đáo như Big Ben, Tòa nhà Quốc hội, Cung điện Buckingham, Cung điện Westminster, Cung điện Kensington, Tháp London và Tháp Shard.
        </p>
        <p class="h5">

            London cũng là một trong những trung tâm văn hóa và nghệ thuật quan trọng của thế giới, với nhiều bảo tàng và thư viện lớn, như British Museum, National Gallery, Tate Modern, và British Library. Ngoài ra, London còn là nơi tổ chức các sự kiện thể thao lớn như Thế vận hội Mùa hè 2012, Wimbledon, và giải đua xe Formula One British Grand Prix.
        </p>
        <p class="h5">

            London là một thành phố đa dạng và phong phú về văn hóa, ngôn ngữ, và nền tảng kinh tế. Đây là nơi thu hút rất nhiều người từ khắp nơi trên thế giới đến để sống, học tập và làm việc.
        </p>
    </div>
</div>