@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tokyo";
}
<div class="row ">
    <div class="col-12">
        <p class="h2 fw-bold">Tokyo</p>
    </div>
    <div class="col-12 w-75 container">
        <p class="h5">
           Tokyo là thủ đô và thành phố đông dân nhất của Nhật Bản, nằm ở đông bắc của đảo Honshu. Với dân số trên 13 triệu người và diện tích hơn 2,1 ngàn km², Tokyo là một trong những khu đô thị lớn nhất trên thế giới. Thành phố này là trung tâm tài chính, kinh tế, văn hóa và giáo dục của Nhật Bản.
        </p>
        <p class="h5">
            Tokyo là một trong những thành phố đa dạng về văn hóa và giải trí, với nhiều địa điểm du lịch phổ biến như Tháp Tokyo, Vườn quốc gia Shinjuku Gyoen, Chùa Senso-ji và Khu vực Shibuya. Ngoài ra, Tokyo còn là trung tâm mua sắm, với nhiều khu mua sắm lớn như khu Ginza, khu Akihabara với các cửa hàng điện tử và trò chơi điện tử, và khu Harajuku với các cửa hàng thời trang và phong cách trẻ trung.
        </p>
        <p class="h5">
Tokyo cũng được biết đến với các sự kiện thể thao lớn như Thế vận hội Mùa hè 1964 và sẽ đăng cai Thế vận hội Mùa hè 2021. Ngoài ra, Tokyo cũng là nơi có nhiều công ty công nghệ hàng đầu như Sony, Toshiba, Canon, Mitsubishi Electric, Sharp, Panasonic và nhiều công ty khác.
        </p>
    </div>
</div>