@model Lab_8_2_Net_4.ViewModel.LoginViewModel

<h2>Login</h2>

@if(!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<form asp-action="Login" method="post">
    <div class="form-group">
        <label for="Username">Email:</label>
        <input asp-for="Email" class="form-control" />

        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <input asp-for="Password" class="form-control" type="password" />

        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>