@model Product
<h1 class="h2 my-3">@ViewBag.Title</h1>
<div>
    <form class="card" asp-controller="Home" asp-action="Create">
        <div class="card-header">Add Product</div>
        <div class="card-body row g-3">
            <div class="col-12 col-md-6">
                <label class="form-label" asp-for="Name"></label>
                <input class="form-control bg-body" type="text" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="col-12 col-md-6">
                <label class="form-label" asp-for="Price"></label>
                <input class="form-control bg-body" asp-for="Price" />
            </div>
            <div class="col-12 col-md-6">
                <label class="form-label" asp-for="Quantity"></label>
                <input class="form-control bg-body" asp-for="Quantity" />
            </div>
        </div>
        <div class="card-footer">
            <input class="btn btn-success" type="submit" />
        </div>
    </form>
    
</div>